.loginpngIcon {
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px);
  width: 399.98px;
  height: 439.34px;
  object-fit: cover;
}
.pseudoIcon,
.pseudoIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 144px;
  object-fit: cover;
}
.pseudoIcon1 {
  left: 256px;
}
.divloginLeftChild {
  position: absolute;
  top: 414.05px;
  left: 22px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 117px;
  height: 45px;
}
.divloginLeft,
.divloginRight {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 400px;
}
.divloginLeft {
  left: 0;
  border-radius: var(--br-5xs) var(--br-xl) var(--br-xl) var(--br-5xs);
  background-color: var(--color-darkblue);
}
.divloginRight {
  left: 400px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-21xl) var(--padding-21xl) 40.000030517578125px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.divloginbox {
  position: absolute;
  height: calc(100% - 551.91px);
  top: 275.95px;
  bottom: 275.96px;
  left: calc(50% - 400px);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}
.signin {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
