.enterPhone {
  position: relative;
}
.divplaceholder,
.input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divplaceholder {
  width: 474.98px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-0) 398.9800109863281px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.input {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  padding: var(--padding-sm-5) var(--padding-xs);
  z-index: 0;
}
.span {
  color: var(--color-red-100);
}
.mobileTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.label,
.mobile {
  position: absolute;
}
.mobile {
  top: 2px;
  left: 5px;
  line-height: 19.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 48.92px;
  height: 15px;
}
.label {
  margin: 0 !important;
  height: calc(100% - 25.5px);
  width: calc(100% - 442.26px);
  top: -10px;
  right: 432.26px;
  bottom: 35.5px;
  left: 10px;
  background-color: var(--color-white);
  z-index: 1;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray-100);
}
.divcol12,
.divformGroup {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divformGroup {
  width: 500.98px;
  padding: var(--padding-12xs);
  position: relative;
}
.divcol12 {
  position: absolute;
  height: calc(100% - 813px);
  width: calc(100% - 1050.02px);
  top: 145px;
  right: 525.04px;
  bottom: 668px;
  left: 524.98px;
  padding: var(--padding-0) 11.999969482421875px var(--padding-21xl)
    var(--padding-xs);
  max-width: 1575px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-800);
  font-family: var(--font-roboto);
}
