@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --inter-semi-bold-16: Inter;
  --font-font-awesome-5-free: "Font Awesome 5 Free";
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --pj-bold-18: "Plus Jakarta Sans";
  --font-dm-sans: "DM Sans";
  --font-nunito: Nunito;
  --font-source-sans-pro: "Source Sans Pro";
  --font-font-awesome-5-brands: "Font Awesome 5 Brands";

  /* font sizes */
  --pj-bold-18-size: 18px;
  --inter-semi-bold-16-size: 16px;
  --font-size-sm: 14px;
  --body-text-xs-font-semibold-size: 12px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-smi: 13px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --pj-bold-58-size: 58px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-16xl: 35px;
  --font-size-2xs: 11px;
  --font-size-4xl: 23px;
  --font-size-6xl: 25px;

  /* Colors */
  --base-black: #000;
  --color-white: #fff;
  --color-dimgray-100: #747474;
  --color-dimgray-200: #6f6f6f;
  --color-dimgray-300: #676767;
  --color-dimgray-400: #666;
  --color-dimgray-500: #545a5c;
  --color-dimgray-600: #52536d;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f8f9fa;
  --color-whitesmoke-300: #f7f7fa;
  --color-whitesmoke-400: #f6f6f6;
  --color-whitesmoke-500: #f5f5f5;
  --color-whitesmoke-600: #f4f4f4;
  --color-whitesmoke-700: #f3f3f4;
  --color-whitesmoke-800: #efefef;
  --color-whitesmoke-900: #eee;
  --color-whitesmoke-1000: #ebebeb;
  --color-royalblue-100: #3d5ee1;
  --color-royalblue-200: #0075ff;
  --color-darkgray-100: #ababab;
  --color-darkgray-200: #aaa;
  --color-darkgray-300: #a0a0a0;
  --color-darkgray-400: #9e9e9e;
  --color-darkgray-500: #979797;
  --color-darkgray-600: #959595;
  --color-slategray-100: #808191;
  --color-slategray-200: #6c757d;
  --color-slategray-300: #57647e;
  --color-slategray-400: #53617c;
  --color-darkslategray-100: #495057;
  --color-darkslategray-200: #444;
  --color-darkslategray-300: #344357;
  --color-darkslategray-400: #38414a;
  --color-darkslategray-500: #373d3f;
  --color-darkslategray-600: #183b56;
  --color-darkslategray-700: #2c3345;
  --color-darkslategray-800: #333;
  --color-darkslategray-900: #2c323f;
  --color-darkslategray-1000: #272b41;
  --color-darkslategray-1100: #2d2d2d;
  --color-red-100: #ff0000;
  --color-red-200: #e0001a;
  --color-gray-100: #fafafa;
  --color-gray-200: #8f8f8f;
  --color-gray-300: #8c8c8c;
  --color-gray-400: #888;
  --color-gray-500: #878787;
  --color-gray-600: #828282;
  --color-gray-700: #808080;
  --color-gray-800: #777;
  --color-gray-900: #212529;
  --color-gray-1000: #1f1f1f;
  --color-gray-1100: #1d1d1d;
  --gray-900: #18181b;
  --color-gray-1200: rgba(136, 136, 136, 0.86);
  --color-gray-1300: rgba(0, 0, 0, 0.25);
  --color-gray-1400: rgba(0, 0, 0, 0.13);
  --color-gray-1500: rgba(255, 255, 255, 0);
  --color-gray-1600: rgba(0, 0, 0, 0.05);
  --color-gray-1700: rgba(17, 17, 17, 0.32);
  --color-lightslategray-100: #a098ae;
  --color-lightslategray-200: #7e84a3;
  --color-gainsboro-100: #e4e8eb;
  --color-gainsboro-200: #e5e5e5;
  --color-gainsboro-300: #e2e5e8;
  --color-gainsboro-400: #e3e3e3;
  --color-gainsboro-500: #dee2e6;
  --color-gainsboro-600: #ddd;
  --color-gainsboro-700: #dcdcdc;
  --color-gainsboro-800: #d7d9de;
  --color-gainsboro-900: rgba(220, 220, 220, 0.3);
  --color-crimson-100: #f23a3c;
  --color-crimson-200: #f62d51;
  --color-blue: #1f12fd;
  --color-mediumslateblue-100: #0066ff;
  --color-mediumslateblue-200: #2945d9;
  --color-mediumslateblue-300: #004be2;
  --color-skyblue: #9be1f8;
  --color-deepskyblue-100: #18b7e7;
  --color-deepskyblue-200: #0fb2e3;
  --color-steelblue-100: #4f648e;
  --color-steelblue-200: #005490;
  --color-steelblue-300: rgba(12, 79, 126, 0.09);
  --color-steelblue-400: rgba(9, 111, 184, 0.25);
  --color-steelblue-500: rgba(0, 68, 116, 0.32);
  --color-lightcyan: #e3fbff;
  --color-lightsteelblue-100: #c1ccdb;
  --color-lightsteelblue-200: #a9bcc9;
  --color-green: #038900;
  --color-forestgreen: #38a935;
  --color-salmon: #ff7777;
  --color-coral-100: #ff8b63;
  --color-coral-200: #ff7849;
  --color-lavender: #dee9ff;
  --color-aliceblue-100: #f4f8ff;
  --color-aliceblue-200: #edf4ff;
  --color-aliceblue-300: #eff2f7;
  --color-aliceblue-400: #e6f2fb;
  --color-darkslateblue: #1a2c50;
  --color-silver-100: #b8bdc9;
  --color-silver-200: #bbb;
  --color-ghostwhite: #f4f7fe;
  --color-lightgreen: #55ce63;
  --color-sandybrown-100: #ff9b44;
  --color-limegreen: #04b301;
  --color-lightgray-100: #cbd1d2;
  --color-lightgray-200: #ccc;
  --color-lightgray-300: rgba(203, 209, 210, 0.35);
  --color-paleturquoise: #b2ffe8;
  --color-azure: #f4feff;
  --color-orange-100: rgba(252, 160, 52, 0.85);
  --color-darkorange: #ff993c;
  --color-darkblue: #0026ad;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-4xs: 9px;
  --gap-78xl: 97px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-5xs-3: 7.3px;
  --gap-10xs-8: 2.8px;
  --gap-16xl-2: 35.2px;
  --gap-12xs-5: 0.5px;
  --gap-516xl: 535px;
  --gap-lg: 18px;
  --gap-159xl: 178px;
  --gap-7xl: 26px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs-5: 7.5px;
  --gap-2xl: 21px;
  --gap-sm: 14px;
  --gap-6xl: 25px;
  --gap-8xs-5: 4.5px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-smi-2: 12.2px;
  --gap-101xl: 120px;
  --gap-4xs-6: 8.6px;
  --gap-12xs-2: 0.2px;
  --gap-363xl-5: 382.5px;
  --gap-3xs-4: 9.4px;
  --gap-172xl-3: 191.3px;
  --gap-5xs-8: 7.8px;
  --gap-8xs-8: 4.8px;
  --gap-19xl: 38px;
  --gap-3xs-7: 9.7px;
  --gap-58xl-5: 77.5px;

  /* Paddings */
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;
  --padding-106xl: 125px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-12xs: 1px;
  --padding-86xl: 105px;
  --padding-99xl: 118px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-12xs-4: 0.4px;
  --padding-xs-9: 11.9px;
  --padding-smi-1: 12.1px;
  --padding-2xs-5: 10.5px;
  --padding-63xl-8: 82.8px;
  --padding-4xs: 9px;
  --padding-xl: 20px;
  --padding-22xl: 41px;
  --padding-144xl: 163px;
  --padding-70xl: 89px;
  --padding-59xl-9: 78.9px;
  --padding-61xl-1: 80.1px;
  --padding-860xl-7: 879.7px;
  --padding-0: 0px;
  --padding-395xl-3: 414.3px;
  --padding-392xl-3: 411.3px;
  --padding-300xl-3: 319.3px;
  --padding-3xl: 22px;
  --padding-167xl-7: 186.7px;
  --padding-8xs: 5px;
  --padding-152xl-7: 171.7px;
  --padding-109xl-7: 128.7px;
  --padding-186xl-7: 205.7px;
  --padding-312xl-3: 331.3px;
  --padding-10xs-7: 2.7px;
  --padding-12xs-5: 0.5px;
  --padding-lg: 18px;
  --padding-21xl: 40px;
  --padding-501xl: 520px;
  --padding-2xl-5: 21.5px;
  --padding-6xs-5: 6.5px;
  --padding-5xs-6: 7.6px;
  --padding-4xs-4: 8.4px;
  --padding-36xl-3: 55.3px;
  --padding-12xs-2: 0.2px;
  --padding-36xl-8: 55.8px;
  --padding-25xl-5: 44.5px;
  --padding-16xl-1: 35.1px;
  --padding-14xl-1: 33.1px;
  --padding-37xl-4: 56.4px;
  --padding-46xl-2: 65.2px;
  --padding-27xl-9: 46.9px;
  --padding-4xl: 23px;
  --padding-11xl: 30px;
  --padding-xs-5: 11.5px;
  --padding-59xl-5: 78.5px;
  --padding-base-5: 15.5px;
  --padding-16xl: 35px;
  --padding-25xl: 44px;
  --padding-123xl-3: 142.3px;
  --padding-6xl: 25px;
  --padding-smi: 13px;
  --padding-1467xl-6: 1486.6px;
  --padding-smi-4: 12.4px;
  --padding-2xs-3: 10.3px;
  --padding-11xs: 2px;
  --padding-10xs-9: 2.9px;
  --padding-10xs: 3px;
  --padding-650xl-5: 669.5px;
  --padding-1376xl-7: 1395.7px;
  --padding-5xs-3: 7.3px;
  --padding-197xl-8: 216.8px;
  --padding-3xs-5: 9.5px;
  --padding-116xl-7: 135.7px;
  --padding-197xl-3: 216.3px;
  --padding-189xl-9: 208.9px;
  --padding-149xl-8: 168.8px;
  --padding-167xl-9: 186.9px;
  --padding-70xl-6: 89.6px;
  --padding-135xl: 154px;
  --padding-342xl: 361px;
  --padding-12xs-1: 0.1px;
  --padding-152xl-3: 171.3px;
  --padding-60xl-5: 79.5px;
  --padding-7xl: 26px;
  --padding-168xl-5: 187.5px;
  --padding-344xl: 363px;
  --padding-12xs-6: 0.6px;
  --padding-4xl-9: 23.9px;
  --padding-78xl-5: 97.5px;
  --padding-107xl-9: 126.9px;
  --padding-8xs-3: 4.3px;
  --padding-7xs-6: 5.6px;
  --padding-12xs-7: 0.7px;
  --padding-23xl: 42px;
  --padding-8xl-8: 27.8px;
  --padding-9xl-2: 28.2px;
  --padding-base-1: 15.1px;
  --padding-30xl: 49px;
  --padding-1384xl: 1403px;
  --padding-35xl-2: 54.2px;
  --padding-35xl-8: 54.8px;
  --padding-sm-5: 13.5px;
  --padding-371xl: 390px;
  --padding-4xs-1: 8.1px;
  --padding-358xl: 377px;
  --padding-378xl: 397px;
  --padding-351xl: 370px;
  --padding-380xl: 399px;
  --padding-434xl: 453px;
  --padding-smi-5: 12.5px;
  --padding-50xl-9: 69.9px;
  --padding-52xl-1: 71.1px;
  --padding-49xl-7: 68.7px;
  --padding-49xl-6: 68.6px;
  --padding-51xl-8: 70.8px;
  --padding-42xl-7: 61.7px;
  --padding-37xl-9: 56.9px;
  --padding-257xl-5: 276.5px;
  --padding-244xl-5: 263.5px;
  --padding-236xl-5: 255.5px;
  --padding-35xl-1: 54.1px;
  --padding-mid: 17px;
  --padding-33xl-8: 52.8px;
  --padding-35xl-9: 54.9px;
  --padding-35xl-4: 54.4px;
  --padding-33xl-2: 52.2px;
  --padding-34xl-1: 53.1px;
  --padding-34xl-3: 53.3px;
  --padding-31xl: 50px;
  --padding-29xl-3: 48.3px;
  --padding-27xl: 46px;
  --padding-26xl-8: 45.8px;
  --padding-178xl-5: 197.5px;
  --padding-52xl-9: 71.9px;
  --padding-260xl-5: 279.5px;
  --padding-221xl: 240px;
  --padding-6xs: 7px;
  --padding-lgi-4: 19.4px;
  --padding-326xl: 345px;
  --padding-337xl: 356px;
  --padding-330xl: 349px;
  --padding-343xl: 362px;
  --padding-327xl: 346px;
  --padding-339xl: 358px;
  --padding-148xl: 167px;
  --padding-170xl-7: 189.7px;
  --padding-700xl-2: 719.2px;
  --padding-smi-8: 12.8px;
  --padding-5xs-5: 7.5px;
  --padding-sm-3: 13.3px;
  --padding-sm-4: 13.4px;
  --padding-5xl: 24px;
  --padding-449xl-3: 468.3px;
  --padding-8xs-5: 4.5px;
  --padding-234xl-2: 253.2px;
  --padding-xl-3: 20.3px;
  --padding-234xl-3: 253.3px;
  --padding-2xl-8: 21.8px;
  --padding-4xl-3: 23.3px;
  --padding-284xl-6: 303.6px;
  --padding-4xl-7: 23.7px;
  --padding-203xl: 222px;
  --padding-7xl-8: 26.8px;
  --padding-280xl-6: 299.6px;
  --padding-285xl-6: 304.6px;
  --padding-245xl-6: 264.6px;
  --padding-7xs-8: 5.8px;
  --padding-sm-6: 13.6px;
  --padding-1264xl-2: 1283.2px;
  --padding-7xs-4: 5.4px;
  --padding-6xl-3: 25.3px;
  --padding-5xl-8: 24.8px;
  --padding-94xl-1: 113.1px;
  --padding-104xl-2: 123.2px;
  --padding-102xl: 121px;
  --padding-69xl-4: 88.4px;
  --padding-75xl-8: 94.8px;
  --padding-110xl-7: 129.7px;
  --padding-146xl-8: 165.8px;
  --padding-69xl-7: 88.7px;
  --padding-94xl: 113px;
  --padding-111xl-8: 130.8px;
  --padding-xl-5: 20.5px;
  --padding-7xs-3: 5.3px;
  --padding-lgi: 19px;
  --padding-smi-9: 12.9px;
  --padding-22xl-5: 41.5px;
  --padding-20xl-9: 39.9px;
  --padding-21xl-1: 40.1px;
  --padding-4xs-8: 8.8px;
  --padding-229xl-1: 248.1px;
  --padding-3xs-1: 9.1px;
  --padding-3xs-9: 9.9px;
  --padding-205xl-3: 224.3px;
  --padding-198xl-1: 217.1px;
  --padding-286xl-3: 305.3px;
  --padding-4xs-9: 8.9px;
  --padding-27xl-1: 46.1px;
  --padding-20xl-8: 39.8px;
  --padding-10xl-7: 29.7px;
  --padding-11xl-3: 30.3px;
  --padding-186xl-5: 205.5px;
  --padding-85xl-7: 104.7px;
  --padding-62xl-4: 81.4px;
  --padding-5xs-1: 7.1px;
  --padding-2xs-6: 10.6px;
  --padding-3xs-4: 9.4px;
  --padding-8xs-8: 4.8px;
  --padding-121xl-7: 140.7px;
  --padding-120xl-3: 139.3px;
  --padding-114xl: 133px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-13xl: 32px;
  --br-base: 16px;
  --br-8xl: 27px;
  --br-11xl: 30px;
  --br-5xl: 24px;
  --br-8xs: 5px;
  --br-41xl: 60px;
  --br-10xs-5: 2.5px;
  --br-mini: 15px;
  --br-10xs: 3px;
  --br-12xs: 1px;
  --br-9xs-8: 3.8px;
  --br-9xs-2: 3.2px;
  --br-11xs: 2px;
  --br-6xs-5: 6.5px;
  --br-6xl: 25px;
  --br-smi-5: 12.5px;
}
